/* Style the task bar container */
.btm-strip-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
  }
  
  /* Style the task bar buttons */
  .btm-btn {
    border-radius: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
    width: 80px;
    transition: all 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #333;
  }
  
  /* Add hover effect to task bar buttons */
  .btm-btn:hover {
    background-color: #555;
  }
  
  /* Add active effect to selected task bar button */
  .btm-btn.active {
    background-color: #777;
  }
