.window {
  position: absolute;
  z-index: auto;
  top: 50px;
  left: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  overflow: auto;
  resize: both;
}

.window-header {
  height: 30px;
  background-color: #f1f1f1;
  cursor: default;
}

.window-title {
  font-size: 14px;
  color: #333;
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
}

.window-content {
  min-height: 30px;
  min-width: 100px;
  padding: 10px;
}