.context-menu {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: left;
  }

  .context-menu.active {
    display: block;
  }

  .context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .context-menu li {
    border-radius: 10px;
    cursor: pointer;
  }

  .context-menu li:hover {
    background-color: rgb(255, 255, 255, 0.5);
  }

  .context-menu button {
    text-align: left;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 8px;
    width: 200px;
  }