#window {
  display: block;
}

.window {
  position: absolute;
  z-index: auto;
  top: 50px;
  left: 50px;
  border: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  resize: both;
  width: 450px;
  height: 250px;
}

.window-header {
  height: 30px;
  background-color: rgb(0, 120, 212);
  cursor: default;
}

.window-controll {
  float: right;
  padding: 5px;
}

.window-title {
  color: rgb(0, 0, 0);
  line-height: 30px;
  padding-left: 10px;
  text-align: left;
}

.window-content {
  height: 100%;
  width: 100%;
  border: none;
  overflow: hidden;
}

#min_btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
  transition-duration: 250ms;
}

#min_btn:hover {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 255, 0, 0.75);
  transition-duration: 250ms;
}

#max_btn {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
  transition-duration: 250ms;
}

#max_btn:hover {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 0, 0.75);
  transition-duration: 250ms;
}

#close_btn {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
  transition-duration: 250ms;
}

#close_btn:hover {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.75);
  transition-duration: 250ms;
}
