.context-menu {
    position: absolute;
    display: none;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    text-align: left;
    transition-duration: 125ms;
  }

  .context-menu.active {
    display: block;
  }

  .context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .context-menu li {
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 500ms;
  }

  .context-menu li:hover {
    background-color: rgb(200, 200, 200);
    transition-duration: 0ms;
  }

  .context-menu button {
    color: rgb(255, 255, 255);
    text-align: left;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 8px;
    width: 200px;
  }

  .context-menu hr {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px rgba(100, 100, 100, 0.5);
    background-color: rgba(100, 100, 100, 0.5);
    margin: 1px;
    width: 90%;
  }