/*The main users interface styles*/

.body {
    background-image: url(/system/media/pictures/img0.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.prevent-select {
    user-select: none;
  }