.mnu-strip-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
  }

.mnu-strip {
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: inline;
    opacity: 100%;
    padding: 5px;
    text-align: center;
    transition-duration: 200ms;
}

/*Main menu bar behaviors of the UI*/
.mnu-strip:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(255, 255, 255);
    opacity: 100%;
    padding-bottom: 100px;    
    text-align: center;
    transition-duration: 200ms;
}

/*Main menu buttons of the UI*/
.mnu-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    border-top: solid 1px rgb(200, 200, 200);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.200), 0 17px 50px 0 rgba(0, 0, 0, 0.200);
    color: rgb(0, 0, 0);
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 8px;
    opacity: 100%;
    transition-duration: 50ms;
}

/*Main menu button behaviors of the UI*/
.mnu-btn:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0), 0 17px 50px 0 rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    transition-duration: 50ms;
}

.mnu-divider {
    border: solid 2px rgb(52, 52, 52);
    border-radius: 5px;
    display: inline;
    padding: 5px;
}
